@import 'shared/variables';

.header,
.footer {
  font-size: 0.9rem;
}

.hero-text {
  color: $header-color;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 1.7rem;
  margin-bottom: 1.4rem;
}

.page-title {
  color: $title-color;
}

.alert-title {
  color: #bb3385;
}

.text-center {
  text-align: center;
}

.punchline {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
  line-height: 1;
}
